* {
  text-align: center;
}
button {
  height: 30px;
  width: 100px;
  font-size: 15px;
}

.age {
  font-size: 20px;
  /* margin-left: 60px; */
  margin-bottom: 10px;
}
div h3 {
  /* margin-left: 60px; */
  text-decoration: underline;
}
.historyItem {
  list-style-type: none;
  border: 1px solid #f9e5ad;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 50%;
  margin-top: 5px;
  background-color: #f7e8bc70;
}
